# Fichiers de build
*.o
*.so
*.exe
*.dll
*.a
*.lib

# Qt Creator
*.pro.user
*.pro.user.*
*.autosave
.qtc_clangd/

# Fichiers générés automatiquement par Qt
moc_*.cpp
moc_*.o
qrc_*.cpp
qrc_*.o
ui_*.h

# Fichiers de build
Makefile*
build*/
debug/
release/

# Binaries inadvertently committed
machineDecoupeIHM
MonServeurTCP
